name: Deploy Wedding Gallery to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Generate config.js from secrets
        run: |
          cat <<EOF > config.js
const WEDDING_EVENTS = [
  {
    name: 'THE RUs Shri Ganesh',
    emoji: 'ЁЯЩП',
    image: 'ru23dec_thumb_v2.jpg',
    link: "${{ secrets.EVENT_1_LINK_ru23dec }}"
  },
  {
    name: 'THE SHREe GANESH<br>with Chaak n Mayera',
    emoji: 'ЁЯкФ',
    image: 'shreeganesh_thumb_v2.jpg',
    link: "${{ secrets.EVENT_2_LINK_shreeGanesh }}"
  },
  {
    name: 'THE MEHENDI<br>RuSh рдХрд╛ рд░рдВрдЧ ',
    emoji: 'ЁЯМ┐',
    image: 'mehendi_thumb_v2.jpg',
    link: "${{ secrets.EVENT_3_LINK_Mehendi }}"
  },
  {
    name: 'THE SAGAI<br>рджрд┐рд▓реЛрдВ рдХреА рд╕реМрджреЗрдмрд╛рдЬрд╝реА',
    emoji: 'ЁЯТН',
    image: 'sagai_thumb_v2.jpg',
    link: "${{ secrets.EVENT_4_LINK_sagai }}"
  },
  {
    name: 'THE SANGEET<br>рдирд╛рдЪреЗрдВрдЧреЗ рд╕рд╛рд░реА рд░рд╛рдд',
    emoji: 'ЁЯТГ',
    image: 'sangeet_thumb_v2.jpg',
    link: "${{ secrets.EVENT_5_LINK_sangeet }}"
  },
  {
    name: 'THE HALDI<br>рдкреАрд▓реА рдзреВрдк рдкрд╣рди рдХреЗ рддреБрдо',
    emoji: 'ЁЯМ╝',
    image: 'haldi_thumb_v2.jpg',
    link: "${{ secrets.EVENT_6_LINK_haldi }}"
  },
  {
    name: 'THE GAURI PUJA<br>реР рджреЗрд╡реА рдорд╣рд╛рдЧреМрд░реНрдпреИ рдирдордГ',
    emoji: 'ЁЯМ╕',
    image: 'gauripuja_thumb_v2.jpg',
    link: "${{ secrets.EVENT_7_LINK_gauripuja }}"
  },
  {
    name: 'THE BAARAAT<br>рджреБрд▓реНрд╣рди рд╣рдо рд▓реЗ рдЬрд╛рдПрдВрдЧреЗ',
    emoji: 'ЁЯРО',
    image: 'baaraat_thumb_v2.jpg',
    link: "${{ secrets.EVENT_8_LINK_baaraat }}"
  },
  {
    name: 'THE VOWS<br>рд╡рд╛рджрд╛ 7 рдЬрдиреНрдореЛрдВ рдХрд╛ ',
    emoji: 'ЁЯФе',
    image: 'fere_thumb_v2.jpg',
    link: "${{ secrets.EVENT_9_LINK_fere }}"
  },
  {
    name: 'THE OTHER RECEPTION<br> at Bhopal',
    emoji: 'ЁЯеВ',
    image: 'bplreception_thumb_v2.jpg',
    link: "${{ secrets.EVENT_10_LINK_bplreception }}"
  }
];
EOF

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
